

.mainHeader{

    .cartPageButton{
        border: 3px solid white;
        padding: 7px;
        border-radius: 7px;
    }

    nav{

        .selected{
            color: black;
            border-color: black;
        }
    }
}