// Colors

$button-color: #ffafcc;

$color-primary: #42A4FF;
$color-liteGrey: rgb(202, 202, 202);
$color-navBar: #A3A3A3;
$color-footer: #383838;
$color-button-pos: #5CD000;
$color-errorBar: rgb(56, 55, 55);

// Font size
$font-size-1: 1rem;
$font-size-2: 1.2rem;
$font-size-3: 1.5rem;
$font-size-4: 1.8rem;